.gameContainer {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 25vh;
    position: relative;
}

.gameState {
    background-color: paleturquoise;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.gameGrid {
    outline: 2px solid black;
    display: grid;
    width: fit-content;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.cell {
    background-color: linen;
    outline: 2px solid black;
    font-size: 3rem;
    overflow: clip;
    width: 6rem;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
}

button {
    font: inherit;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 0.5rem;
}

.resetButton {
    display: grid;
    justify-content: center;
}

.gameOver {
    font-size: 2rem;
    background: skyblue;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    padding: 3rem;
    border-radius: 0.5rem;
}

.stateButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.stateButtons > button {
    font-size: 1rem;
}
